<!DOCTYPE html>
<html lang="en" ng-app="myApp">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <link href="justified-nav.css" rel="stylesheet">
 
</head>
 














<body>









<div class="card" style="width:400px;">
  



  <div class="card-block">
   <div class="jumbotron" style="padding-bottom:0px;height:100px;background-color:red;width:400px;">
            <p style="color:white;font-size:25px" align="center"> <b>Some Text Here!!!</b></p>
        </div>

<div style="height:200px;">
   <form class="form-signin" role="form" ng-submit="submit()" name="userForm" novalidate>
            <span style="color:green">Test Phrase</span>
            <input type="text" name='phrase' class="form-control" width="100%" ng-required="true" ng-model='forminfo.phrase' placeholder="Test Phrase" required="" autofocus="" ng-maxlength="50">

            <p style="color:red;" ng-show="userForm.phrase.$error.maxlength && !userForm.phrase.$pristine" class="help-block">Phrase should be at most 50 characters.</p>
            <p style="color:red;" ng-show="userForm.phrase.$error.required && !userForm.phrase.$pristine" && !userForm.phrase.$pristine" class="help-block">Phrase is required</p>

<br>
            <span style="color:green">Enter request Code</span>
            <input type="number" name='code' min=0 max=10000 name='code' class="form-control" ng-model='forminfo.code' placeholder="Request Code" ng-required="true" sb-max-precision='2' width="100%">
            <p style="color:red;" ng-show="userForm.code.$error.required && !userForm.code.$pristine" class="help-block">code is required</p>
            <p style="color:red;" ng-show="userForm.code.$error.min && !userForm.code.$pristine" class="help-block">min is 0</p>
            <p style="color:red;" ng-show="userForm.code.$error.max && !userForm.code.$pristine" class="help-block">max is 10000</p>
            <p ng-show="userForm.code.$error['max-precision']" style="color:red;">2 decimal places max</p>
        </label>  
        </div>
        <div style="height:200px;overflow:scroll;background-color:#Eff0F1" class='container'>
    <div ng-repeat="message in messages">
    <div ng-if="message.code==404">
        <p class='alert alert-danger'>{{ message.code }}|
        {{ message.phrase }}|
        {{ message.time }}</p>
    </div>
    <div ng-if="message.code!=404">
        <p class='alert alert-success'>{{ message.code }}|
        {{ message.phrase }}|
        {{ message.time }}</p>
    </div>
    </div>
    </div>   
  </div>

  <div class='container middle' style="height:100px;width:400px;background-color:#2196F3;" >
    <table style="width:100%">
    <tr>
        <td style="width:50%;vertical-align:center;line-height:100px;"><span style='padding-left:15px;color:white;'>Text!!!</span></td>
        <td style="width:50%">
            
     <span style="padding-right:25px;"><button ng-click="submit()" ng-disabled="userForm.$invalid" class="btn btn-success" type="submit" style="">Make Request</button></span>
      </form>

        </td>
    </tr>
        


    </table>






    </div>
  
</div>











    <div class="container">
        
        
    </div>
    
   



    
 





 <button type="button" id='modclick' class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display:none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">INFO BOX</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p ng-class="{'alert alert-success': checker=='2', 'alert alert-danger': checker=='1'}">{{text}}</p>
      </div>
      
    </div>
  </div>
</div>







</body></html>